

body{
    display: flex;
    flex-direction: column;
    margin: 0 0 0;
    font-family: monospace;
    min-width: 450px;
}

header{
    display: flex;
    max-width: 100vw;
    position: absolute;
    margin: 4% 4%;
    justify-content: space-between;
    right: 0;
    left: 0;
}
.myheader{ 
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    min-height: 635px;
    
    margin-bottom: 1px;
    bottom: 0;
}

.header-become{
    flex:1;
    display: flex;
    
    padding: 5.625rem 4.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.625rem;
    background-color: rgba(46, 228, 163);    ;
    background-image: linear-gradient(rgba(46, 228, 163, .85), rgba(46, 228, 163, .85)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");
    background-position: 50%;
    background-size: cover;
    background-clip: border-box;
    min-width: 400px;
}

.header-hire{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 5.625rem 4.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: #363738;
    background-image: linear-gradient(rgba(35, 35, 35, .85), rgba(35, 35, 35, .85)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
    background-position: 50%;
    background-size: cover;
    background-clip: border-box;
    min-width: 400px;
}

.question-container{
    display: flex;
    height: 1.5rem;
    margin: 0 0 1rem;
}
.h-question-1, .h-question-2, .h-question-1-left{
    display: flex;
    color: #FCFCFD;
    flex: 1;
    font-size: 1.5rem;
    font-style: normal;
    font-weight:900;
    line-height: 1.5rem;
    height: 1.5rem;
    background: #1E1E1E;
}


.h-question-1-left{
    color: #1E1E1E; 
    background: #FCFCFD;
}

.h-question-2{background: none;}

.h-text{
    display: flex;
    width: 100%;
    max-width: 1000px;
    max-height: 600px; 
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

.header-hire > .h-text{text-align: left;}

.header-buttons{
    padding: 0.7rem 0.7rem;
    gap: 0.625rem;
    background: #1E1E1E;
    border: 0;
    color: #FCFCFD;
    font-weight: 600;
    font-size:0.8em;
}

.header-hire > .header-buttons{
    color: #1E1E1E; 
    background: #FCFCFD;
}

.section-container{
    display: flex;
    min-width: 365px;
    flex: 1;
    padding: 2.8125rem 5rem;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background: #F1F2F3;
    font-size: 2em;
    font-weight: bolder;
}

.section-header{
    display: flex;
    width: 100%;
    line-height: 1.8em;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1000px;
}

.section-title{
    display: flex;
    gap: 0.5em;
    color: #363739;
    font-size: 0.8em;
    font-weight: 600;    
}
.section-symbol{
    color: rgba(46, 228, 163);
}

.three-circles{
    display: flex;
    padding: 20px;
    gap: 0.2em;
}

.circle{
    border-radius: 20px;
    height: 20px;
    background-color: rgba(222,223,227,255);
}

.black{background-color: #363739;}
.green{background-color: #2aeda8;}
.white{background-color: #fcfaff;}
.gray{background-color: #a0a9aa;}

.yt-frame{
    display: flex;
    width: 100%;
    max-width: 1000px;
    max-height: 600px;
    background-color: #2aeda8;
    padding: 20px;
    height: 40vw;
    border: 0;
    border-radius: 20px;
}

iframe{
    flex: 1;
    border: 0;
    
}

.milestones{
    background-color: #FFF; 
    color: #363739;
    flex-wrap: wrap;
}

.milestone-card{
    display: flex;
    flex-direction: column;
    background-color: #f1f2f4; 
    border: 0; border-radius: 20px; 
    margin: 0.3em; 
    padding: 30px;
    flex: 1;
    width: fit-content;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.milestone-cards-container{
    font-size: 1em;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    font-size: 0.7em;
    font-weight: 100;
    width: 100%;
    max-width: 1000px;
}
.milesone-main{flex: 1;}

.milestone-four-cards{
    flex: 1;
    display: flex;
    flex-flow: column;

}

.milestone-secondary{
    flex: 1;
    display: flex;
}
.card-1{flex-grow: 1.8;}
.card-4{flex-grow: 1.2;}
.milestone-card > h1{font-size: 2.5em; line-height: 0;}
.milestone-card > p{font-size: 0.8em; line-height: 1;}

.partners{background-color: #fcfcfe;}

.partners-logos{
    display: flex;
    flex-wrap: wrap;
    
    max-width: 1000px;
    gap: 1em;
    height: 150px;
    justify-content: space-between;
    height: fit-content;
}

.partners-logos > img{
    height: 80px;
    max-width: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.programs{
    background-color: #ffc736;
}

.programs > .section-header > .section-title{
    background-color: #343838; 
    color: #fdfaeb; 
    padding: 0 1em;
    margin-bottom: 0.8em;
}

.programs-details{
    flex: 1;
    
}

.programs-header{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 0.7em;
}

.prog{
    text-decoration: none;
    padding: 0.5em 1.5em;
    border: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #1E1E1E;
    font-size: 0.7em;
}

.shown-prog{
    background-color: #363739;
    color: #ffc736;
    padding: 0.5em 1.5em;   
}

.program-discription-container, .testimonials-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #363739;
    max-width: 1000px;
    flex: 1;
    padding: 20px;
    font-size: 0.4em;
    color: #f2feff;
    font-weight: 100;
    border: 0;
    border-radius: 15px;
    border-top-left-radius: 0px;
    gap: 1em;
}
.discription{
    display: flex;
    flex: 1;
    flex-flow: column wrap;
}
.discription-title{
    flex: 1;
    display: flex;
    
    gap: 0.2rem;
    font-weight: 900;
    font-size: 1.5em;
    max-height: 3em;
}

.t-color{color: #ffc736; font-weight: 900; flex-wrap: nowrap;}

.discription-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
.prg-btn{
    flex: 1;
    font-size: 1em;
    font-weight: 100;
    flex-grow: 1.2;
}

.prg-btn-2{
    flex: 1;
    width: 50%;
    text-align: end;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
    
}

.prg-img{
    max-width: 400px;
    max-height: 400px;
    min-height: 100px;
    border-radius: 10px;
}

.t-b{
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.FAQs ,.hire-talent{
    background-color: #363739;
    color: #fbfef3;
}

.hire-talent > .section-header > .section-title{
    color: #fdfaeb; 

}
.FAQs > .section-header > .section-title{
    color: #fdfaeb; 

}

.faqs-details{
    width: 100%;
}

details{
    margin-bottom: 0.5em;
}
summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232323;
    font-size: 0.5em;
    font-weight: 900;
    padding: 20px;
    list-style: '\203A' ;
    list-style: none;
    border: 0;
    border-radius: 15px;
}

.summery-title{
    display: flex;
    gap: 0.5em;
}

summary::after {
    display: flex;
    transition: 0.2s;
    font-size: 2em;
    content: '\203A' ; /* chevron */
    transform: rotate(90deg);
    
  }

details[open] summary::after {
    transform: rotate(-90deg);
  }

.faq-btn{
    flex: 1;
    width: 100%;
    text-align: end;
    font-size: 0.35em;
    cursor: pointer;
}

.faq-answers, .HR-list{
    font-size: 0.5em;
    font-weight: 100;
    color: #bec5d6;
    padding: 30px;
    margin-top: -25px;
    background-color: #232323;
    border: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* https://stackoverflow.com/a/38215801 */
details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }
  
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

.inline-colors{
    display: flex;
    gap: 0.5em;
}

.inline-color{
    color: rgba(46, 228, 163);
}

.subscribe{
    background-color: #363739;
    flex-flow: row wrap;
}

.subscribe-left{
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    min-width: 425px;
}

.subscribe-right{
    flex: 1;
    display: flex;
    justify-content: end;
    height: 1.5em;
}
.subscribe >.subscribe-left > .section-header > .section-title{color: #f4ffff;}

.sub-text{
    font-size: 0.5em;
    font-weight: 100;
    color: #a0a59f;
}

.sub-email{
    padding: 13px 10px;
    max-width: 250px;
    max-height: 50px;
}

.sub-btn{
    font-size: 0.5em;
}

.HR-container{
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    gap: 1em;
}

.HR-text-field, .HR-learn-more{
    flex: 1;
    background-color: #232323;
    color: #f4ffff;
}

.HR-text-field{
    padding: 30px;
    border-radius: 25px;
}

.HR-text-field>h6{
    font-size: 0.6em;
    margin-top: 0;
    margin-bottom: 1em;
}

.inline-colors-HR{
    background-color: #373739;
    font-size: 0.5em;
    font-weight: 100;
    padding: 20px;
    width: fit-content;

}

.HR-list{
    margin: 0;
    padding-right: 1em;
}

.HR-text{
    padding-top: 0;
}

.HR-learn-more{
    display: flex;
    padding: 20px;
    border-radius: 25px;
    font-size: 0.5em;
    font-weight: 100;
    gap: 1.5em;
    justify-content: end;
}

.HR-learn-more-text{
    padding-top: 15px;
}

.testimonials-container{
    border-radius: 15px;
}

.testimonial{
    padding: 3em;
}

.testimonial-text{
    font-size: 1.2em;
}

.tiny-img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}


.testimonial-name-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.testimonial-name-container>.inline-colors{
    flex-direction: column;
    gap: 0;
    
}

.testimonial-name-container>.inline-colors>h2{line-height: 0;}

.testimonial-name-container>.inline-colors>p>b{
    color: #2aeda8;

}
.testimonial-name-container>.inline-colors>p{
    padding: 0;
    margin: 0;    
}

.testimonials-scroll-btn{
    border: 0;
    background-color: #a6a6a8;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.testimonials-scroll-btn-current{background-color: #212123;}

.contact-us{
    background-color: #29eea7;
}

.contact-us > .section-header > .section-title{
    background-color: #343838; 
    color: #fdfaeb; 
    padding: 0 1em;
    margin-bottom: 0.8em;
}

.contact-us-main-container{
    display: flex;
    flex: 1;
    flex-flow: row wrap-reverse;
    gap: 0.5em;
    width: 100%;
    min-width: 400px;
    justify-content: center;
}

.contact-us-left-container{
    display: flex;
    flex-flow: column wrap;
    background-color: #363739;
    border-radius: 15px;
    padding: 25px;
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    gap: 0.5em;
}

.contact-us-right-container{
    display: flex;
    flex-flow: column wrap;
    background-color: #363739;
    flex: 1;
    flex-grow: 2.5;
    border-radius: 15px;
    padding: 25px;
    padding-right: 35px;
    padding-left: 35px;
    min-width: 400px;
    max-width: 650px;
}

.sef-location{
    border-radius: 15px;
    margin: auto;
    flex: 1;
    display: flex;
}

.map{
    display: flex;
}

.contact-us-titles{
    color: #a1abb4;
    font-size: 0.5em;
    font-weight: 900;
}

.contact-us-titles > h6{
    color: #FFF;
    font-weight: 900;
    font-size: 0.9em;
    margin-bottom: 0;
}

.contact-us-titles >p{
    font-size: 0.9em;
    font-weight: 100;
}


.contact-us-right-container >p{
    color: #ffffff;
    font-size: 0.4em;
}
.contact-us-right-container > .inline-color{
    font-size: 0.8em;
    font-weight: 900;
}

.form-row{
    display: flex;
    color: #ffffff;
    font-size: 0.4em;
    flex: 1;
    gap: 1em;
    flex-wrap: wrap;
}

.label-textinput {
    display: flex;
    flex-flow: column wrap;
    margin-top: 1em;
    flex: 1;
    
}

.label-textinput>input{
    padding: 10px;
}

.label-radioinput{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: fit-content;
    min-width: 104px;
}

.label-textinput-inq>input{
    padding-top: 0;
    padding-bottom: 0;
    height: 120px;
}

.form-btn-container{
    flex: 1;
    display: flex;
    flex-flow: row-reverse wrap;
}

.form-btn-container>button{
    border: 0;
    background-color: #23f1a7;
    color: #363739;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-us-left-container-divider{
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    gap: 1em;
}